<div id="carouselLanches" class="carousel slide custom-carousel-height mb-4" data-bs-ride="carousel">
    <style>
      

            .custom-carousel-height .carousel-inner img {
            width: 100%;
            height: auto;
            max-height: 500px;
            object-fit: cover;
            overflow: hidden
            }
    </style>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/lanche1.jpg" class="d-block w-100" alt="Lanche 1">
        </div>
        <div class="carousel-item">
            <img src="~/images/lanche2.jpg" class="d-block w-100" alt="Lanche 2">
        </div>
        <div class="carousel-item">
            <img src="~/images/lanches3.jpg" class="d-block w-100" alt="Lanche 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
