<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Precisa de ajuda?</h3>
        <p>
            Se você tiver alguma dúvida me chama
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="fergalo.alves@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(16) 99615-2867</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av.Dos Programadores nº DosSonhos</h5>
        </p>
    </div>
</div>
